<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    {% include './navbar.html' %}
    <body>
    <!--Add review form here -->
    <form class="form" action="{% url 'djangoapp:add_review' dealer_id=dealer_id %}" method="post">
        <div class="input-group">
            <label for="review">Review</label>
            <input type="text" class="form-control" placeholder="Enter review" name="review" >
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Submit Review</button>
        </div>
    </form>
    </body>
</html>