<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review - Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include './navbar.html' %}
    <header class="d-flex justify-content-between align-items-center p-2">
        <h1>Sign Up</h1>
    </header>
    <main  class="container">
        <form action="{% url 'dealerships:registration' %}" method="post">
            <section class="form-group">
                <label for="username">User Name</label>
                <input type="text" id="username" name="username" placeholder="Enter User Name" required>
            </section>
            <section class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" placeholder="Enter First Name" required>
            </section>
            <section class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" placeholder="Enter Last Name" required>
            </section>
            <section class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="psw" placeholder="Enter Password" required>
            </section>
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </main>
</body>
</html>